<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 加载属性文件 -->
<properties resource="db.properties"></properties>
<settings>
<!-- 	打开延迟加载开关 -->
	<setting name="LazyLoadingEnabled" value="true"/>
<!-- 将积极加载改成消极加载 -->
	<setting name="aggresssiveLazyLoading" value="false"/>
<!-- 	开启二级缓存 -->
	<setting name="cacheEnabled" value="true"/>
</settings>
<!-- 自定义别名 -->
<typeAliases>
<!-- 	单个定义 
	<typeAlias type="com.ssq.po.TotalBallPO" alias="totalBall"/>
-->
<!-- 	批量定义 ,类名即为变量别名
	<package name="com.ssq.po"/>
-->
</typeAliases>
	<environments default="development">
		<environment id="development">
<!-- 		使用jdbc事务 -->
			<transactionManager type="JDBC" />
<!-- 		mybatis连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/ssq?characterEncoding=utf-8" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<!-- 加载映射文件 -->
	<mappers>
<!-- 		<mapper resource="com/ssq/dao/TotalBallMapper.xml" /> -->
<!-- 		单个加载 -->
<!-- 		<mapper class="com.ssq.dao.TotalBallDao"/> -->
<!-- 		批量加载 -->
		<package name="com.ssq.dao"/>
	</mappers>
</configuration>