<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 命名空间，作用就是对sql进行分类管理，理解sql隔离
  注意：使用mapper代理方法开发，namespace有特殊重要的作用
   -->
<mapper namespace="com.ssq.dao.TotalBallDao" >

<!-- 在映射文件中配置很多sql语句 -->
<!-- 需求：通过id查询用户表的记录 -->
<!-- 
	通过select执行数据库查询
	
	参数 #{} 接收pojo对象值，通过OGNL读取对象中的属性，通过属性.属性.……获取对象值
 -->
	<select id="selectTotalBall" parameterType="int" resultType="com.ssq.po.TotalBallPO">
		select * from totalball where id = #{id}
	</select>

	<insert id="insertTotalBall" parameterType="com.ssq.po.TotalBallPO">
	<!-- 将主键返回 ,只适用于自增主键-->
	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
		INSERT INTO totalball
		(opendate,red1,red2,red3,red4,red5,red6,blue)
		values
		(#{opendate,jdbcType=DATE}, #{red1,jdbcType=INTEGER},
		#{red2,jdbcType=INTEGER},
		#{red3,jdbcType=INTEGER},
		#{red4,jdbcType=INTEGER},
		#{red5,jdbcType=INTEGER},
		#{red6,jdbcType=INTEGER},
		#{blue,jdbcType=INTEGER})
	</insert>
	<!-- 	清空 -->
	<delete id="deleteTotalBall" >
		delete from totalball
	</delete>
</mapper>