<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 命名空间，作用就是对sql进行分类管理，理解sql隔离
  注意：使用mapper代理方法开发，namespace有特殊重要的作用
   -->
<mapper namespace="test">

<!-- 在映射文件中配置很多sql语句 -->
<!-- 需求：通过id查询用户表的记录 -->
<!-- 
	通过select执行数据库查询
 -->
	<select id="selectTotalball" parameterType="int" resultType="com.ssq.po.TotalBallPO">
		select * from totalball where id = #{id}
	</select>
</mapper>